<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo" src="/images/hero-ship.png"/>
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4">O Guru do Enem</h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Mergulhe nos estudos</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>O guru possui todos os recursos tecnológicos para te ajudar a passar no Enem</h3>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-android"></i>
            </div>
            <h4>Inteligência Artificial</h4>
            <p class="text-muted">Ultilizamos técnicas de inteligência artifical: <a href="/ia">Machine Learning</a> para monitorar seus resultados e evolução.</p>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-lightbulb-o"></i>
            </div>
            <h4>Competências</h4>
            <p class="text-muted">As questões são classificadas de acordo com a Matriz de Competências e Habilidades oficial do Enem.</p>
          </div>
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-line-chart"></i>
            </div>
            <h4>Evolução</h4>
            <p class="text-muted">Montamos uma trilha personalizada para você evoluir gradativamente.</p>
          </div>
        </div>
        <a class="btn btn-outline-info mt-5" href="/faq">Learn more</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="setup">
      <h3 class="text-center">Vamos Começar?</h3>
    <hr/>
    <div class="pep-talk text-center">
      <p><span class="text-muted">&hearts;</span> <a href="enem.guru/start">Enem.Guru</a></p>
    </div>
  </div>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
