<div id="adicionar" v-cloak>
  <div class="container">

    <h1>Adicionar Questão.</h1>
  


    <button>Adicionar</button>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
